body{
    font-family: sans-serif;
    color: #666;
}
.title{
    color: #333;
}
a{
    color: blue;
}
a:hover{
    color: red;
}
a:active{
    color: green;
    background-color: black;
}
p{
    box-sizing: border-box;
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: 10px solid blue;
    margin: 20px;
    width: 300px;
}
